<div class="article-container">

  {% unless page.no_header %}
    <div class="meta-container">
      <header id="banner">{% include header.html %}</header>
    </div>
  {% endunless %}

  <div class="content-container">
    {% if index %}
    {% if post.content contains '<!-- more -->' %}
        {{ post.content | split:'<!-- more -->' | first }}
        <p><a href="{{ post.url }}">Read on →</a></p>
    {% else %}
        {{ post.content }}
    {% endif %}

    {% else %}
      <div class="entry-content">{{ content }}</div>
    {% endif %}
  </div>


  <footer id="main_footer">{% include footer.html %}</footer>

</div>
