<div id="header">
  <div class="header-navigation">
    <ul>
      <li><a href="https://developers.artsy.net/">Contact</a></li>
    </ul>
    <span class="header-section-title">
      {% if page.section == opensource %}
        <a href="/open-source">Open Source</a>
      {% else %}
        <a href="/">Events</a>
      {% endif%}
    </span>
  </div>

  <div class="header-sticky-container">
    <div class="header-logo">
      <a href="{{ site.url }}"><img src="/images/fixed_logo.png" width="150" height ="150"></a>
    </div>
    <div class="header-search">
      {% if page.section != opensource %}
        <h2>Open Source</h2>
      {% else %}
        <h2><a href="/">Events</a></h2>
      {% endif%}
    </div>
  </div>
</div>
