---
layout: page
footer: false
---
<div class="index-sidebar">
  <h1>event categories</h1>
</div>

<div class="index-main" style="padding-top:0px">
  <article>
    <p>Club Real World isn't just about shows, we organize a variety of event types:</p>
    <ul>
    {% for category in page.categories %}
      {% unless category.name = about %}
      <li><a title="{{ category.count }} posts on {{ category.name }}" href="/blog/categories/{{ category.dir }}">{{ category.name }}</a></li>
      {% endunless %}
    {% endfor %}
    </ul>
  </article>
</div>

