{% include head.html %}

<link href="{{ root_url }}/css/epic.css" media="screen, projection" rel="stylesheet" type="text/css">

{% if page.css %}
<link href="{{ root_url }}/css/posts/{{page.css}}.css" media="screen, projection" rel="stylesheet" type="text/css">
{% endif %}

<body>
  <div>
    <div id="bodywrapper">
      <header>
        <ul>
          <li><a href="/">clubreal.world</a></li>
          <li><a href="mailto:lovesdevotee@gmail.com">contact</a></li>
        </ul>
      </header>

      <section>
        <header id="page">
          <h1>{{ page.title }}</h1>
          <h3>
          <!-- Yep, single line so the comma lines up right -->
          By {% for key in page.author %}{% assign author = site.authors[key] %}{% if forloop.index > 1 %},{% endif %} {{ author.name }}{% endfor %}
          </h3>
          <time datetime="{{page.date | date: "%Y-%m-%d"}}">{{ page.date | date: "%b %-d, %Y" }}</time>
        </header>

        <article class='post'>
          {{ content }}
        </article>

        <article class='post'>
          <p style="padding-bottom: 0; margin-bottom:0;">
            <a href="https://www.artsy.net/" style="background-image: none;">
              <svg viewBox="0 0 510 510" width="40" height="40" xmlns="http://www.w3.org/2000/svg">
                <path transform="scale(1, -1) translate(0, -480)" d="M0 -32h512v512h-512v-512v0zM464 16h-80v80h-48v-80h-288v416h416v-416v0zM194 384h-40l-74 -186h38l20 52h72l19 -52h39l-74 186v0zM149 282l25 66l24 -66h-49v0z"></path>
              </svg>
            </a>
          <p/>
        </article>

        <aside class="related-articles"></aside>

      {% if page.comment_id %}
        <article class='post'>
          {% include gh_comments.html %}
        </article>
      {% endif %}

      </section>

      <footer>
        <article>

          <section>
            <h4>Author</h4>
            <p>{% for key in page.author %}{% assign author = site.authors[key] %}{% if forloop.index > 1 %},{% endif %} <a href="/author/{{key}}">{{ author.name }}</a>{% endfor %}</p>
            <p>{% for key in page.author %}{% assign author = site.authors[key] %}{{ author.byline }}</a>{% endfor %}</p>
          </section>

          <section>
            <h4>Post Meta</h4>
            <p>{{ page.date | date: "%b %-d, %Y"  }}</p>
            <p>Tagged: {{ page.categories | category_links }}</p>
          </section>
          <br/>

          <section>
            <h4>events</h4>
            <ul>
              <li><a href='/archives'>archives</a></li>
          </section>
        </article>

      </footer>
    </div>
  </div>
</body>
